.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128, 128, 128,.5);
    font-size:xx-large !important;
    font: italic small-caps bold 16px/2 cursive;
}

.body {
    background-color: rgba(182, 190, 190, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size:larger;
    font: italic small-caps bold 16px/2 cursive;
}

.firstTitle {
    padding-top: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128, 128, 128,.5);
    font-size:xx-large !important;
    font: italic small-caps bold 16px/2 cursive;
}

body {
    background-image: url(../images/websiteBackground.jpg);
    background-size: cover ;
    height: 100%;
}
