body{
    background-image: url(../images/homepagebackground.jpg);  
    background-size: cover ;
    height: 100%;
}

.hometext{
    text-align: center;
    padding-top:15%;
    color:black;
    font: italic small-caps bold 16px/2 cursive;
}
