.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(128, 128, 128,.5)
}

.body {
    background-color: rgba(182, 190, 190, 0.5);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding:1%;
}

body {
    background-image: url(../images/websiteBackground.jpg);
    background-size: cover ;
    height: 100%;
}

img {
    width: 90%;
    height: 90%;
    object-fit: fill;
    margin-left: 5%;
    margin-right: 5%;
}

.exerpt {
    font-style:italic;
    margin-left: 15%;
    margin-right: 15%;
}


.youtube iframe {
    width: 100vw;
    height: calc(100vw/1.77);
}

.lotr {
    font-family : Lucida Handwriting;
}

.got {
    font-family: 	Brush Script MT
}